<%- include( '../partials/header', { title: title }) %>
<div class='main'>
    <div class='song-page'>
         <h2 class='song-page--title'><%= song.title %></h2>
         <p class='song-page--artist'><%= song.artist %></p>
         <p class='song-page--stream-count'><%= song.streams %></p>
    </div>
</div>
<%- include( '../partials/footer') %>